{% extends template.self %}

{% block title %}{% if page.full_title %}{{ page.full_title }}{% else %}{{ page.title }}{% endif %} - OS.js Web Desktop Manual{% endblock %}

{% block head %}
  {{ super() }}

  <link rel="publisher" href="https://plus.google.com/101576798387217383063" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

{% endblock %}

{% block page %}
  {{ page.content|safe }}
  <div style="text-align:center; font-size:80%;padding:2em;color:#aaa;">
    OS.js Web Desktop - &copy; Anders Evenrud &lt;andersevenrud@gmail.com&gt;
  </div>
{% endblock %}

{% block book_body %}
  {{ super() }}
{% endblock %}

{% block body %}
  {{ super() }}

  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'os-js/OS.js'
    };
  </script>

{% endblock %}
